body {
    padding-top: 25px;
    padding-bottom: 25px;
}

.label-default {
    background-color: #aaa;
}

.form-group {
    padding-left: 30px;
    padding-right: 30px;
}

/* Tiny devices (phones, 767px and down) */
@media (max-width: 767px) {
    img.profile {
        max-width: 100px;
        max-height: 100px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .panel-body {
        min-height: 180px;
    }

    .panel-footer {
        min-height: 90px;
    }

    img.profile {
        max-width: 80px;
        max-height: 80px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .panel-body {
        min-height: 180px;
    }

    .panel-footer {
        min-height: 90px;
    }

    img.profile {
        max-width: 100px;
        max-height: 100px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .panel-body {
        min-height: 150px;
    }

    .panel-footer {
        min-height: 50px;
    }

    img.profile {
        max-width: 120px;
        max-height: 120px;
    }
}
